body{
    background-color: sienna;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

div{
    background-color: rgb(190, 83, 34);
    border-radius: 20px;
    opacity: .4;
    text-align: center;
    box-shadow: black 4px 4px 4px;
}

h1{
    padding: 20%;
}

