
/* estiliza toda parte de cadastro do usuario no front */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(207, 3, 3);
    margin: 0;
    padding: 0;
    height: 100vh;        
    display: flex;       
    justify-content: center;  
    align-items: center;      
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border-radius: 20px;
    padding: 40px 20px;
}

.campo_form{
    background-color: white;
    width: 200px;
    height: 35px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 10px;
}

#button_form{
    background-color: rgb(207, 3, 3);
    opacity: 0.8;
    width: 150px;
    height: 30px;
    border: none;
    box-shadow: black 2px 2px 2px;
    border-radius: 10px;
}

#criar_conta{
    list-style: none;
    margin-top: 10px;
    font-size: smaller;
    color: black;
}