<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>loging de usuário</title>
</head>
<body>
    <!--Faz a coleta de dados do ususario para ter acesso-->
    <form id="formulario" action="" method="post">
        <input class="campo_form" name="nome" type="text" placeholder="Nome" >
        <input class="campo_form" name="senha" type="password" placeholder="Senha">
        <button id="button_form" type="submit">Entrar</button>
        <a id="criar_conta" href="criar_conta.html">Login</a>
    </form>
</body>
</html>